<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  {{!-- CSS links --}}
  <link rel="stylesheet" href="/css/error.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center">
      
      <h1 id="brand" class="bg-secondary bg-gradient p-2">&#128187 Tech Blog &#128540</h1>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            {{!-- {{#unless logged_in}}
            <li class="nav-item">
              <a id="signup" href="/signup" class="nav-link">Signup</a>
            </li>
            <li class="nav-item">
              <a id="login" href="/login" class="nav-link">Login</a>
            </li>
            {{/unless}}

            {{#if logged_in}}
            <li class="nav-item"><a id="logout" href="/" class="btn btn-outline-secondary my-2 my-sm-0">Logout</a></li>
            {{/if}} --}}

          </ul>
          <form class="form-inline my-2 my-lg-0">
           
            {{#unless logged_in}}
              <a id="signup" href="/signup" class="btn btn-outline-secondary my-2 mr-3 my-sm-0">Signup</a>
              <a id="login" href="/login" class="btn btn-outline-secondary my-2 my-sm-0">Login</a>
            {{/unless}}

            {{#if logged_in}}
              {{!-- For homepage --}}
              <span class="text-end font-italic text-primary mr-4">Welcome, {{user.first_name}} {{user.last_name}} {{post.user.first_name}} {{post.user.last_name}}</span>
              {{!-- For dashboard --}}
              {{!-- <span class="text-end font-italic text-primary mr-3 btn-centered">Welcome {{first_name}} {{last_name}}</span> --}}
              <a id="logout" href="/" class="btn btn-outline-secondary my-2 my-sm-0">Logout</a>
            {{/if}}

          </form>
        </div>
      </nav>
    </header>
    <main class="container container-fluid my-3">
      {{{ body }}}
    </main>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>