<div class="row mb-3 position-relative">
    <h2 class="col-auto">Dashboard </h2>
    <a id="dashboard-add-btn" class="btn btn-outline-secondary col-auto" href="/api/posts/add">New Post</a>
</div>

{{#each user.posts as |post|}}
<div class="card mb-3">
    <h4 class="card-header">{{post.title}}
        <a href="/api/posts/edit/{{post.id}}" class="btn btn-outline-secondary edit-btn ml-2">Edit</a>
        <button id="{{post.id}}" style="float:right" class="btn btn-outline-secondary post-delete ml-2">Delete</button>
        <span class="post_header p-1">Posted
            on
            <span class="post_date">{{format_date post.updated_at}}</span>
        </span>
    </h4>
    
    <div class="card-body">
        <p>{{post.content}}</p>
    </div>
</div>
{{/each}}

<script src="/js/delete.js" />